* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color:rgb(141, 140, 140);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.thank-you-container {
  text-align: center;
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

.logo {
  width: 120px;
  margin-bottom: 20px;
}

h1 {
  font-size: 2em;
  color: #111;
  margin-bottom: 10px;
}

p {
  color: #444;
  margin-bottom: 30px;
  font-size: 1rem;
}

.btn {
  text-decoration: none;
  background-color: #111;
  color: white;
  padding: 12px 25px;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #333;
}





